{% load static %}

<!DOCTYPE html>
<html lang="en">
    
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/favicon/favicon.png"/>

    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1"></span>
        </div>
    </nav>

    <title>Message Frais</title>

</head>


<body>
    <style>
        body {
          background: #404040;
        }
        
        .content {
          max-width: 500px;
          margin: auto;
          padding: 20px;
        }
    </style>
    <div class="content">
        {% block content %}
            <form method="POST" enctype="multipart/form-data" style="color:white">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Valider</button>
            </form>
        {% endblock %}
    </div>



<h6 style="color:white">Pour info :
    <ul>
        <li>Uploadez votre fichier message_frais.txt sans l'avoir modifié</li>
        <li>Vous devrez modifier manuellement la colonne pour les agréments usines</li>
        <li>Toutes les dates sont changées au format jj/mm/aaaa</li>
        <li>Les lignes du message frais ayant les mêmes caractéristiques sont fusionnées, les qtés et poids sont additionnés</li>
        <li>Une colonne "Date production" est créée et calculée par le programme :</li>
            <ul>
                <li>Elle ne fonctionne que sur les lots de type "SA3011D"</li>
                <li>Elle se met automatiquement à la bonne année de production</li>
                <li>Vous devrez modifier les autres dates manuellement (SAP transaction MMBE)</li>
            </ul>
        <li>Votre numéro de commande s'affiche dans le fichier Excel</li>
        <li>Vérifiez que les quantités et le poids total sont cohérents avec votre commande</li>
        <li>Ctrl+P renvoie la page prête à imprimer au format paysage et adapté à une page</li>
        <li>Ce site est hébergé gratuitement sur pythonanywhere et doit être activé tous les 3 mois</li>
        <li>Existe en version payant (abonnement pythonanywhere) pour $5 par mois sans besoin d'activation manuelle</li>
    </ul>
</h6>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>
