{% load static %}


<!DOCTYPE html>
<html lang="en">

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <nav class="navbar navbar-dark bg-dark">
            <ul class="nav navbar-nav"></ul>
        </nav>
          
        <title>Download</title>
        <img src="{% static 'images\logobel.png' %}" alt="logo_bel" width="70" height="70">
    </head>


<body>

    <div>
    <h1 style="color:green;"> file ready to be downloaded</h1>
    </div>

    {% block content %}
    <h2> 
        <a href='{{ url_du_fichier_xlsx }}' class="btn btn-success" target='_blank' >download your file</a>   
    </h2>
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>


